:root {
    /* Color scheme */
    --coral: #FA824C;
    --baby-powder: #FAFFFD;
    --yellow-green: #A2D729;
    --raisin-black: #342E37;
    --tufts-blue: #3C91E6;
}

/* CSS reset */
*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;
    font-family: system-ui, sans-serif; 
    overflow: hidden;
}

input, button, textarea, select {
    font: inherit;
}


/* navigation bar */

.navigation {
    background-color: var(--coral);
    height: 100dvh;
    color: var(--baby-powder);
}

header {
    text-align: center;
    padding: 2rem;

    h1 {
        position: relative;
        display: inline-block;
    }
    
    h1::after {
        content: url('./media/icons/check.svg');
        position: absolute;
        left: 1.6rem;
        transform: scale(1.7);
        top: -0.25rem;
    }
}

nav {
    animation: 1.5s fadeIn 1s forwards;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    button {
        width: max-content;
        max-width: 100px;
        background: none;
        border: none;
        color: var(--baby-powder);

        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 2px;
    }

    button:not(:last-child) {
        margin-bottom: 12px;
    }
}

.project-header {
    margin-top: 10px;
    border-bottom: 3px solid var(--baby-powder);
    border-radius: 2px;

    & + button {
        margin-top: 4px;
    }
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

/* content */
body {
    color: var(--raisin-black);
}

.content {
    animation: slideUp 1.5s;
    position: absolute;
    z-index: 1;
    bottom: 0;
    background-color: var(--baby-powder);
    width: 100%;
    height: 100%;
    max-height: calc(100dvh - 6rem);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transition: transform 0.3s ease-out;

    display: flex;
    flex-direction: column;
}

.instruction {
    text-align: center;
    padding: 1rem;

    img {
        width: 33px;
        
    }

    p {
        opacity: 0.6;
        font-size: 0.9rem;
    }

    #dragInstr {
        display: block;
    }

    #clickInstr {
        display: none;
    }
}

.new-task {
    background: none;
    border: none;
    opacity: 0.6;
}

.task-form {
    color: var(--raisin-black);
    display: flex;
    flex-direction: column;
    padding-top: 25px;

    p {
        opacity: 0.6;
        margin-bottom: 10px;
    }

    textarea {
        resize: none;
        height: 9rem;
    }

    label {
        margin-top: min(3%, 20px);
    }
}

.menu-mode .instruction {
    img {
        transform: rotate(180deg);
    }

    #dragInstr {
        display: none;
    }

    #clickInstr {
        display: block;
    }
}

.project,
.task-form {
    width: 85vw;
    margin: 0 auto;
}

.project {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    overflow: hidden;
}

.task-list {
    list-style: none;
    overflow: scroll;
}

.task {
    background-color: #f1f1f198;
    margin: 8px 0;
    padding: 8px;
    border-left-width: 4px;
    border-left-style: solid;

    display: grid;
    grid-template-columns: 1fr 6rem;
    grid-template-rows: 2rem auto;
    gap: 5px;

    &.urgent {
        border-left-color: var(--coral);
    }

    &.soon{
        border-left-color: var(--yellow-green);
    }

    &.chill {
        border-left-color: var(--tufts-blue);
    }
}

.task h3 {
    align-self: flex-end;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task .info-date {
    grid-area: 1 / 2 / 3 / 3;
    align-self: center;
    opacity: 0.6;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}


/* Responsive design larger displays */
@media only screen and (min-width: 992px) {
    body {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 100vh;
    }

    .instruction {
        display: none;
    }

    .content {
        animation: none;
        position: static;
        z-index: 0;
        padding: 50px;
        border-radius: 0;
        max-height: 100%;
    }

    .task {
        grid-template-columns: clamp(100px, 100%, 300px) auto 6rem;
        grid-template-rows: 50px;
        align-items: center;
        justify-content: space-between; 

        h3 {align-self: center;}
    }

    .task .info-project {
        grid-area: 1 / 2 / 2 / 3;
        opacity: 0.6;
    }

    .task .info-date {
        grid-area: 1 / 3 / 2 / 4;
    }

    nav {
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        align-items: flex-end;
        opacity: 1;
        animation: none;
    }

    button:hover {
        transform: scale(1.1);
    }

    .project, .task-form {
        width: 100%;
        padding: 0;
    }
} 